
#########################
#    Script settings    #
#########################

# Create a postgresql container?
SCRIPT_DEPLOY_POSTGRES=true

# Specify the server that is used as a reverse-proxy
SCRIPT_USE_PROXY=traefik

# Enable internal SSL support?
SCRIPT_ENABLE_SSL=false

# The port to serve HTTP on when running in nginx/apache-mode
SCRIPT_PORT_HTTP=80

# The port to serve HTTPs on when running in nginx/apache-mode
SCRIPT_PORT_HTTPS=443

# The ip to bind to in nginx/apache-mode
SCRIPT_BIND_IP=0.0.0.0

#########################
#    Docker settings    #
#########################

# The docker network to bind to.
# In traefik-mode this should be the same network that your
# traefik-container is connected to or a network that is interconnected
# with traefik's network. In manual, apache or nginx mode this value may be empty or set to any other alphanumeric value.
# (Defaults to something like "pleroma_docker_1" if empty)
DOCKER_NETWORK=pleroma

# The directory where all containers store their data.
# Can be a relative path, "~/...", or absolute.
# Named docker volumes are currently not supported.
DOCKER_DATADIR=./data

###########################
#    Database settings    #
###########################

# Leave POSTGRES_IP empty unless you plan to install your own database
# Leave the POSTGRES_DB, POSTGRES_USER and POSTGRES_PASSWORD as-is
# unless you use your own database.

POSTGRES_IP=
POSTGRES_DB=pleroma
POSTGRES_USER=pleroma
POSTGRES_PASSWORD=pleroma
PLEROMA_DB_POOL_SIZE=10

##########################
#    Pleroma Settings    #
##########################

# The environment to use (dev/prod/test)
MIX_ENV=prod

# The git tag, revision, or branch to check out on build
PLEROMA_VERSION=develop

# The domain/scheme where pleroma will be hosted
# URL is a bare TLD
# SCHEME is the protocol without "://"
PLEROMA_URL=example.com
PLEROMA_SCHEME=https

# The seed for your secret keys
# (Enter something as random as possible)
# (On linux you can try something like "dd if=/dev/urandom bs=1 count=128 2>/dev/null | base64 -w 0 | rev | cut -b 2- | rev")
PLEROMA_SECRET_KEY_BASE=

# The name of your instance
# (This is displayed in the top-left in pleroma-fe)
PLEROMA_NAME=

# Your contact info
PLEROMA_ADMIN_EMAIL=

# How many chars a notice may have at max.
PLEROMA_MAX_NOTICE_CHARS=500

# Whether your instance accepts new users or not (true/false)
PLEROMA_REGISTRATIONS_OPEN=true

# Enable media proxy?
PLEROMA_MEDIA_PROXY_ENABLED=false

# The url of your media proxy (if enabled) [with "http(s)://"]
PLEROMA_MEDIA_PROXY_URL=https://cdn.example.com

# Redirect to source on cache fail?
PLEROMA_MEDIA_PROXY_REDIRECT_ON_FAILURE=true

# Whether to enable the chat feature or not
PLEROMA_CHAT_ENABLED=true
